

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.circle {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  animation: rotate 10s linear infinite;
}

.circle-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0 0;
  transform: translate(-50%, -50%);
  text-align: center;
}

.skill-icon {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
}

.circle-item p {
  margin-top: 5px;
  color: rgb(241, 237, 237);
  font-size: 22px;
}

.circle-item:nth-child(1) {
  transform: rotate(0deg) translate(200px);
}

.circle-item:nth-child(2) {
  transform: rotate(60deg) translate(200px);
}

.circle-item:nth-child(3) {
  transform: rotate(120deg) translate(200px);
}

.circle-item:nth-child(4) {
  transform: rotate(180deg) translate(200px);
}

.circle-item:nth-child(5) {
  transform: rotate(240deg) translate(200px);
}

.circle-item:nth-child(6) {
  transform: rotate(300deg) translate(200px);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
  