* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('https://img.freepik.com/free-vector/abstract-black-lines-geometric-background_677411-2748.jpg');
    background-color: #232732;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    /* height: 670vh; */
    /* box-shadow: inset rgba(0, 0, 0, 0.5) 0px 0px 40px 0px, inset rgba(0, 0, 0, 0.5) 0px 0px 40px 0px, inset rgba(0, 0, 0, 1) 0px 0px 36px -24px; */
}